<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRSystemWEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRSystemWEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="navbar-brand">HRSystemWEB</a>
        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
        <a class="nav-link active" asp-area="Employee" asp-controller="Employee" asp-action="Index"><i class="fas fa-users"></i> Employee</a>
        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-lock"></i> Privacy</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
   

        <!-- Dashboard Section -->
        @RenderSection("Dashboard", required: false)
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <!-- JS Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
