<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BranchId" value="9"/>
	</appSettings>
	<connectionStrings>
		<add name="NorthWindCN" connectionString="Server=.;Database=northwind;Integrated Security=true;TrustServerCertificate=true"/>
	</connectionStrings>
</configuration>